//https://color.adobe.com/infographic-color-theme-7604550

//Google fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway);

//font variables
$font-header: 'Montserrat', sans-serif;
$font-main: 'Raleway', sans-serif;
$font-h1-size: 4vw;

//colors: https://color.adobe.com/Vintage-Ralph-Lauren-color-theme-2216979/
$color-bg: #E3CDA4;
$color-text-main: #002F2F;
$color-text-bold1: #703030;
$color-text-bold2: black;
$color-stroke-line: black;

$nav_bar_width: 27%; // following rule of thirds
$nav_bar_margin: 3%; // 2 margins on each side
$main_margin: 3%;

//styles

html {
	background-color: $color-bg;
	position: absolute;
	width: 100%;
	height: 100%;
}

svg.mainLine { // some of the styling for this is done in the JS, see index.html
	position:fixed;
	line {
		stroke-width: 4px;
		stroke: $color-stroke-line;
	}
}

.nav_bar_div {
	display: inline-block;
	width: $nav_bar_width;
	height: 100%;
	font-size: $font-h1-size / 1.6;
	margin-left: $nav_bar_margin;
	margin-right: $nav_bar_margin;
	margin-bottom: 10%;
	position: fixed;

	b {
		color: $color-text-bold1;
	}
}

table.nav_bar {
	position: relative;
	top: 25%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	font-family: $font-header;
 
	padding: 0px;
	border-collapse: collapse;
	
	td{
		padding:0;
		border-spacing: 0;
		&.left{
			text-align:right;
		}
	}

	tr{
		&:hover{
			font-weight:bold;
		}
	}
}

.main {
	height: 100%;
	width: 100% - $nav_bar_margin - $nav_bar_margin - $nav_bar_width - $main_margin /*- $main_margin*/;
	//margin-right: $main_margin;
	margin-left: $main_margin;
	float:right;
	position: relative;
	display: inline-block;
}

.panel {
    display:block;
   	//border: 2px solid black; // not sure whether to add this or not
   	width: 100% - 11.1% - 22.2%;
   	position: relative;
	padding-left: 11.1%;
	padding-top: 11.1%;
	padding-right: 22.2%;


	font-family: $font-main;
	font-size: 1.56vw;

	img.aboutImg {
		/*max-width: 100%;
		height: auto;
		width: auto\9;*/
		float: right;
		margin-left: 5%;
		margin-bottom: 5%;
	}

	img.contactImg {
		margin: 5%;
	}

    h1 { // used for main headers like about/resume/etc
    	font-family: $font-header;
    	vertical-align: top;
    	text-align: center;
    	margin-top: 0;
    	font-size: $font-h1-size;
    	font-weight: bold;
    }

    h2 { // used for internal paragraph headers
    	font-family: $font-header;
    	font-size: ($font-h1-size/1.6);
    }

    h3 {
    	font-family: $font-main;
    	font-size: ($font-h1-size/1.6/1.6);
    }

    .smalltext {
    	font-family: $font-main;
    	&.three {
    		font-size: ($font-h1-size/1.6/1.6/1.6);
    	}
    	&.two {
    		font-size: ($font-h1-size/1.6/1.6/1.6/1.6);
    	}
    	&.one {
    		font-size: ($font-h1-size/1.6/1.6/1.6/1.6/1.6);
    	}
    }

    .resume_vis_table {
    	display: inline-block;
    	border: 2px solid black;
    	padding: 2.5%;
    	margin: 1%;
    	width: 100%;
	}
}

.onHoverBold {
	&:hover {
		font-weight:bold;
		color:$color-text-bold1;
	}
}