//https://color.adobe.com/infographic-color-theme-7604550

//Google fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

//font variables
$roboto-slab: 'Roboto Slab', serif;

//colors
$pink: #DB4C62;
$navy: #2B3541;
$baby_blue: #57A4BD;
$white: #E6E6E4;
$gold: #F6A516;

$nav_bar_width: 20%;
$nav_bar_margin: 2.5%;

//styles

html {
	height: 100%;
}

body {
	font-family: $roboto-slab;
	font-weight: normal;
	font-size: 48px;
	background-color: $navy;
	/*overflow: hidden;*/
}

table.nav_bar {
	width: $nav_bar_width;
	margin-left: $nav_bar_margin;
	margin-right: $nav_bar_margin;
	margin-top: 10%;
	margin-bottom: 10%;
	height: 50%;
	display:inline-block;
	
	border-collapse: collapse;
	color: $baby-blue;

	position:fixed;
	
	b{
		color: $gold;
	}

	td{
		padding:0;
		border-spacing: 0;
		&.left{
			text-align:right;
		}
	}

	tr{
		&:hover{
			color: $gold;
			/*font-weight:bold;*/
		}	
	}
}

.main {
	float: right;
	height: 100%;
	margin-left: $nav_bar_margin + $nav_bar_margin + $nav_bar_width + 5%;
	margin-right: 5%;
	display: inline-block;
	clear: left;
}

.panel {
    display:block;
    padding: 5px;

	background-color: #34404F;

    img {
    	float: left;
    	margin-right: 10px;
    	margin-down: 10px;
    }

   	border: 2px solid #34404F;
    padding: 10px; 
    margin: 10px;

    h1 {
		color: $pink;
    }

	p {
		font-size: 20px;
		color: $white;	
	}

	b {
		color: $baby-blue;
	}
}