//https://color.adobe.com/infographic-color-theme-7604550

//Google fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

//font variables
$roboto-slab: 'Roboto Slab', serif;

//colors
$pink: #DB4C62;
$navy: #2B3541;
$baby_blue: #57A4BD;
$white: #E6E6E4;
$gold: #F6A516;

//styles
body {
	font-family: $roboto-slab;
	font-weight: normal;
	font-size: 48px;
	background-color: $navy;
}

.line {
	visibility: hidden;
	&:hover{
		visibility: visible;
		color: $pink;
	}
	width: 100%;
}

.main_letter {
	font-weight: bold;
	color: $gold;
	visibility: visible;
	position: relative;

	&.d{
		right: 150px;
	}
	&.a{
		right: 100px;
	}
	&.r{
		right: 50px;	
	}
	&.w{
		left: 0px;
	}
	&.i{
		left: 50px;
	}
	&.n{
		left: 100px;
	}

}

.footer {
	color: $white;
	font-size: 18px;
	text-align: center;
}